<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>


    <div class="top-bar-wrapper ">

    </div>
    <div class="container-fluid ">
        <div class="floatheader header-wrapper">
            ::before
            <div class="container inn clearfix">
                <div class="inn clearfix">
                    <div class="header-nav-wrapper clearfix">
                        <div class="header-customize-left">
                            <div class="header-customize-item">
                                <div class="row">
                                    <div class="col-md-4 info-item">
                                        <span class="fa fa-map-marker text-color-accent" style="font-size:30px;color:red;float:left">

                                        </span>
                                        <span>Blessed House Business Centre Nairopoi, Kenya</span>
                                    </div>
                                    <div class="col-md-4 info-item">
                                        <span class="fa fa-phone text-color-accent" style="font-size:30px;color:red;float:left">

                                        </span>
                                        <span>
                                            +254 706 125 125<br>
                                            +254 799721422<br>
                                            +254 750256186<br>
                                        </span>

                                    </div>
                                    <div class="col-md-4 info-item">
                                        <span class="fa fa-envelope text-color-accent" style="font-size:30px;color:red;float:left">

                                        </span>
                                        <span>
                                            info@toletdigital.com<br>
                                            www.toletdigital.com
                                        </span>

                                    </div>


                                </div>

                            </div>

                        </div>
                        <nav class="navbar navbar-expand-lg navbar-dark clearfix " style=" ">
                            <a class="navbar-brand" href="#">Navbar</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav x-nav-menu">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Features</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Pricing</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link disabled" href="#">Disabled</a>
                                    </li>
                                </ul>
                            </div>

                        </nav>



                    </div>

                </div>
            </div>
        </div>

    </div>







    <!-- <div class="container-fluid">
        <div class="row" style="padding-top:200px;">
            <div class="col-md-2 col-sm-12 fadeshow1 ">
                <div class="wrapper">
                    <!-- Sidebar
                    <nav id="sidebar">
                        <div class="sidebar-header">
                            <h2>toletBD</h2>
                        </div>

                        <ul class="list-unstyled components">
                            <p>toletBD</p>
                            <li class="">
                                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                                <ul class="collapse list-unstyled" id="homeSubmenu">
                                    <li>
                                        <a href="#">Home 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Home 2</a>
                                    </li>
                                    <li>
                                        <a href="#">Home 3</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">About</a>
                            </li>
                            <li>
                                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                                <ul class="collapse list-unstyled" id="pageSubmenu">
                                    <li>
                                        <a href="#">Page 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Page 2</a>
                                    </li>
                                    <li>
                                        <a href="#">Page 3</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Portfolio</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>
            <div class="col-md-10">



            </div>
        </div>
    </div>-->
    @RenderBody()
    <div class="container-fluid body-content">

        <!-- Footer -->
        <footer class="page-footer font-small special-color-dark pt-4">

            <!-- Footer Elements -->
            <div class="container-fluid">

                <!--Grid row-->
                <div class="row footback dvfooter">

                    <!--Grid column-->
                    <div class="col-md-6 mb-4">

                        <!-- Form -->
                        <form class="form-inline">
                            <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search">
                            <i class="fas fa-search" aria-hidden="true"></i>
                        </form>
                        <!-- Form -->

                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-6 mb-4">

                        <form class="input-group">
                            <input type="text" class="form-control form-control-sm" placeholder="Your email" aria-label="Your email" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-sm btn-outline-white my-0" type="button">Sign up</button>
                            </div>
                        </form>

                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

            </div>
            <!-- Footer Elements -->
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3 footback1 dvfooter">
                © 2018 Copyright:
                <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
            </div>
            <!-- Copyright -->

        </footer>
        <!-- Footer -->
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
