
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>


    <div class="top-bar-wrapper ">

    </div>
    <div class="container-fluid ">
        <div class="floatheader header-wrapper">
            ::before
            <div class="container inn clearfix">
                <div class="inn clearfix">
                    <div class="header-nav-wrapper clearfix">
                        <div class="header-customize-left">
                            <div class="header-customize-item">
                                <div class="row">
                                    <div class="col-md-4 info-item">
                                        <span class="fa fa-map-marker text-color-accent" style="font-size:30px;color:red;float:left">

                                        </span>
                                        <span>Blessed House Business Centre Nairopoi, Kenya</span>
                                    </div>
                                    <div class="col-md-4 info-item">
                                        <span class="fa fa-phone text-color-accent" style="font-size:30px;color:red;float:left">

                                        </span>
                                        <span>
                                            +254 706 125 125<br>
                                            +254 799721422<br>
                                            +254 750256186<br>
                                        </span>

                                    </div>
                                    <div class="col-md-4 info-item">
                                        <span class="fa fa-envelope text-color-accent" style="font-size:30px;color:red;float:left">

                                        </span>
                                        <span>
                                            info@toletdigital.com<br>
                                            www.toletdigital.com
                                        </span>

                                    </div>


                                </div>

                            </div>

                        </div>
                        <nav class="navbar navbar-expand-lg navbar-dark clearfix " style=" ">
                            <a class="navbar-brand" href="#">Navbar</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav x-nav-menu">
                                    <li class="nav-item active" style="padding-left:15px;font-size:15px">
                                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item" style="padding-left:15px;font-size:15px">
                                        <a class="nav-link" href="#">Features</a>
                                    </li>
                                    <li class="nav-item" style="padding-left:15px;font-size:15px">
                                        <a class="nav-link" href="#">Pricing</a>
                                    </li>
                                    <li class="nav-item" style="padding-left:15px;font-size:15px">
                                        <a href="" class="nav-link" data-toggle="modal" data-target="#modalLoginForm">
                                            Login
                                        </a>
                                    </li>
                                    <li class="nav-item" style="padding-left:15px;font-size:15px">
                                        <a href="" class="nav-link" data-toggle="modal" data-target="#modalRegForm">
                                            Reg
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </nav>



                    </div>

                </div>
            </div>
        </div>

    </div>








    <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-5 ">
                        <i class="fa fa-envelope prefix grey-text" style="float:left;font-size:30px;opacity:0.5;"></i>

                        <input type="email" id="defaultForm-email" class="form-control validate " style="background:transparent;border:none;border-bottom:0.4px solid #000000;">
                        <label data-error="wrong" data-success="right" for="defaultForm-email">Your email</label>
                    </div>

                    <div class="md-form mb-4">
                        <i class="fa fa-lock prefix grey-text" style="float:left;font-size:30px;opacity:0.5;"></i>
                        <input type="password" id="defaultForm-pass" class="form-control validate" style="background:transparent;border:none;border-bottom:0.4px solid #000000;">
                        <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <div class="options ">
                        <p class="pt-1">No Account? <a href="" class="" data-dismiss="modal" data-toggle="modal" data-target="#modalRegForm">Sign up now</a></p>
                    </div>
                    <button class="btn btn-default">Login</button>
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm("Index", "Home"))
    {

        <div class="modal fade" id="modalRegForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5 ">
                            <i class="fa fa-user prefix grey-text" style="float:left;font-size:30px;opacity:0.5;"></i>

                            <input name="user" placeholder="Name" id="defaultForm-email" class="form-control validate " style="background:transparent;border:none;border-bottom:0.4px solid #000000;">
                            <label data-error="wrong" data-success="right" for="defaultForm-email">Your Name</label>
                        </div>
                        <div class="md-form mb-5 ">
                            <i class="fa fa-envelope prefix grey-text" style="float:left;font-size:30px;opacity:0.5;"></i>

                            <input name="mail" type="email" id="defaultForm-email" class="form-control validate " style="background:transparent;border:none;border-bottom:0.4px solid #000000;">
                            <label data-error="wrong" data-success="right" for="defaultForm-email">Your email</label>
                        </div>

                        <div class="md-form mb-4">
                            <i class="fa fa-lock prefix grey-text" style="float:left;font-size:30px;opacity:0.5;"></i>
                            <input name="pass" type="password" id="defaultForm-pass" class="form-control validate" style="background:transparent;border:none;border-bottom:0.4px solid #000000;">
                            <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
                        </div>
                        <div class="md-form mb-4">
                            <i class="fa fa-lock prefix grey-text" style="float:left;font-size:30px;opacity:0.5;"></i>
                            <input type="password" id="defaultForm-pass" class="form-control validate" style="background:transparent;border:none;border-bottom:0.4px solid #000000;">
                            <label data-error="wrong" data-success="right" for="defaultForm-pass">Confirm password</label>
                        </div>

                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <div class="options ">
                            <p class="pt-1">Already have Account? <a href="" class="" data-dismiss="modal" data-toggle="modal" data-target="#modalLoginForm">login</a></p>
                        </div>
                        <button id="myButton" class="btn btn-default" type="submit" value="Reg">Reg</button>
                    </div>
                </div>
            </div>
        </div>
    }

    @RenderBody()
    <div class="container-fluid body-content">

        <!-- Footer -->
        <footer class="page-footer font-small special-color-dark pt-4">

            <!-- Footer Elements -->
            <div class="container-fluid">

                <!--Grid row-->
                <div class="row footback dvfooter">

                    <!--Grid column-->
                    <div class="col-md-6 mb-4">

                        <!-- Form -->
                        <form class="form-inline">
                            <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search">
                            <i class="fas fa-search" aria-hidden="true"></i>
                        </form>
                        <!-- Form -->

                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-6 mb-4">

                        <form class="input-group">
                            <input type="text" class="form-control form-control-sm" placeholder="Your email" aria-label="Your email" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-sm btn-outline-white my-0" type="button">Sign up</button>
                            </div>
                        </form>

                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

            </div>
            <!-- Footer Elements -->
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3 footback1 dvfooter">
                © 2018 Copyright:
                <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
            </div>
            <!-- Copyright -->

        </footer>
        <!-- Footer -->
    </div>
   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
